body {
    position: relative;
    font-family: 'Raleway', sans-serif;
    /* Add any additional styling here */
}

html, body {
    overflow-x: hidden;
}

:root {
    --one: #ccdad1 !important;
    --two: #9caea9 !important;
    --three: #93897e !important;
    --four: #6f6866 !important;
    --five: #38302e !important;
    --six: #8e8d8da7 !important;
    --seven: rgba(248, 248, 248, 0.65) !important;
    --blue: #072146 !important;
    --gold: #936d24 !important;
    --blue-dark: #162659 !important;
    --beige: #bfb5aa !important;
}